<head>
    <link rel="stylesheet" href="/css/cardPost.css">
</head>
<div class="container_card_post">
    <div class="box_profile_post">
        <img class="" src="https://images.pexels.com/photos/20193046/pexels-photo-20193046/free-photo-of-leve-luz-light-restaurante.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
        <div class="name_profile_post">
            <h2 class="">Jéssica Gomes</h2>
            <span>12/03/2024 - 11:32</span>
        </div>
    </div>
    <div class="about_post">
        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus deleniti modi inventore. Numquam inventore neque temporibus dicta eius, ratione nesciunt?</p>
    </div>
    <div class="img_post">
        <img class="" src="https://images.pexels.com/photos/6706596/pexels-photo-6706596.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
        <div class="full_img_post">
            <i class="bi bi-fullscreen"></i>
        </div>
    </div>
    <div class="buttons_post">
        <button class=""><i class="bi bi-arrow-through-heart"></i>3423</button>
        <button class=""><i class="bi bi-chat-left-dots"></i>32</button>
    </div>
    <div class="comentario_post">
        <div class="avatar_comentario_post">
            <img class="" src="https://images.pexels.com/photos/20193046/pexels-photo-20193046/free-photo-of-leve-luz-light-restaurante.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
        </div>
        <div class="inputs_comentario_post">
            <input class="" type="text" name="" id="" placeholder="Write your comment">
            <button type="submit" class=""><i class="bi bi-arrow-up-right-square"></i>Comentar</button>
        </div>
    </div>
</div>