<nav>
    <ul>
        <li><a href="/v1/painel/1">Painel</a></li>
        <li><a href="/v1/painel/post/1">Post</a></li>
        <li><a href="/v1/painel/usuarios/1">Usuarios</a></li>
        <li><a href="/v1/painel/assinantes/1">Assinantes</a></li>
        <li><a href="/v1/painel/stripe/1"></a></li>
        <li><a href="/v1/painel/editar/1">Editar</a></li>
        <li><a href="/v1/painel/suporte/1">Suporte</a></li>
    </ul>
</nav>