<head>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<header>
    <div class="container_header">
        <div class="title_header">
            <h1>Bankl</h1>
        </div>
        <div class="menu_header">
            <nav>
                <ul>
                    <li><a href="/v1">Inicio</a></li>
                    <li><a href="#">Planos</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contato</a></li>
                    <li><a href="/v1/painel/1">Painel</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>