<head>
    <link rel="stylesheet" href="/css/navHeader.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<header>
    <div class="container_nav_header">
        <div class="logo_nav_header">
            <a href="/v1"><h1>AcompX</h1></a>
        </div>
        <div class="menu_nav_header">
            <div class="nav_header">
                <nav>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Planos</a></li>
                        <li><a href="#">Sobre</a></li>
                    </ul>
                </nav>
            </div>
            <div class="sub_header">
                <button>Assine</button>
            </div>
        </div>
    </div>
</header>