<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <form onsubmit="handleInfo(event)">
        <input type="email" name="email" id="input_email" placeholder="Email">
        <input type="password" name="password" id="input_password" placeholder="*****">
        <input type="submit" value="Login">
    </form>
</body>
<script src="../js/login.js"></script>
</html>