<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <title>Register User</title>
</head>
<body>
    <h1>Register User Page</h1>
    <form onsubmit="handleData(event)" >
        <input type="email" name="email" id="email_input" placeholder="Register Email">
        <input type="password" name="password" id="password_input">
        <input type="submit" value="Register">
    </form>
</body>
<script src="../js/register.js"></script>
</html>