.container_home_post{
    display: flex;
    padding: 10px;
    background: black;
    height: 100vh;
    gap: 10px;
    position: relative;
}
.container_home{
    display:flex;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap; 
}
.menu_home{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 92vh;
    width: 20%;
    padding: 20px 10px;
    background: blue;
}
.card_menu_home{
    height: 300px;
    width: 100%;
    background: red;
}
.box_content_home{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 80%;
    margin-left: 20%;
    background: white;
    padding: 10px;
    border-radius: 12px ;
}
.publication_home{
    display: flex;
    gap: 10px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 20px 10px;
    width: auto;
    border-radius: 5px;
}
.img_publication_home img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.content_publication_home{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input_publication_home{
    display: flex;
    align-items: center;
    gap: 10px;
}
.input_publication_home input[type="text"]{
    background: #f9f9f9;
    padding: 3px 10px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 20px;
    width: 300px;
    border: 2px solid #ddd;
    outline: none;
}
.input_publication_home button{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: white;
    padding: 3px 10px;
    border-radius: 3px;
    background: blue;
    border: none;
    outline: none;
}

.buttons_publication_home{
    display: flex;
    align-items: center;
    gap: 10px;
}
.buttons_publication_home button{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px 12px;
    border: 1px solid #ddd;
    background: white;
    border-radius: 3px;
}
.box_filter_home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.box_filter_home hr{
    width: 80%;
    border: 1px solid #ddd;
}
.box_filter_home span{
    font-weight: 500;
    font-size: 14px;
    color: #ddd;
}
.box_filter_home select{
    background: transparent;
    border: none;
    font-weight: 500;
    font-size: 14px;
}
.container_content_home{
    display: grid;
    grid-auto-rows: max-content;
    place-items: center;
    height: auto;
    width: 100%;
    gap: 10px;
    padding-bottom: 20px;
}



.container_post{
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    gap: 5px;
    padding: 0px 10px;
}
.card_post{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    width: 300px;
}
.card_post h1{
    font-size: 16px;
    font-weight: 600;
    color: #212121;
    text-align: left;
    padding: 5px;
    line-height: 1.1rem;
    height: auto;
    width: 100%;
}
.card_post img{
    width: 100%;
    object-fit: cover;
}
.card_comentary_like{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0  ;
    width: 100%;
}
.card_comentary_like button:nth-child(1){
    display: flex;
    align-items: center;
    gap: 5px;
    color: #EE4266;
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    border: none;
    outline: none;
}
.card_comentary_like button:hover{
    cursor: pointer;
}
.card_comentary_like button:nth-child(2){
    background: #222831;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 12px;
    border: none;
    outline: none;
}