header{
    position: fixed;
    height: 100vh;
    z-index: 9999;
    width: 20%;
    background: #1F1717;
}
.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 5px;
    background: black;
    height: 100%;
}
.logo_header {
    width: 100%;
    padding-left: 10px;
}
.logo_header h1{
    font-size: 24px;
    font-weight: 600;
    color: white;
}
.menu_header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;    
    gap: 5px;
}
.menu_header ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:5px;
}
.menu_header nav    {
    width: 100%;
}
.menu_header li{
    height: 30px;
    width: 100%;
}
.menu_header a{
    display: flex;
    align-items: center;
    padding: 4px 10px;
    color: black;
    font-size: 14px;
    font-weight: 500;
    height: 100%;
    width: 100%;    
    background: white;
    border-radius: 3px;
}
.menu_admin_header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
.profile_header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: auto;
    padding: 5px 10px;
    width: 100%;
    border-radius: 3px;
    background: #EF4040;
}

.img_profile_header img{
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 50%;
}
.name_profile_header{
    display: flex;
    flex-direction: column;
}
.name_profile_header h2{
    color: white;
    font-weight: 600;
    font-size: 16px;
}
.name_profile_header span{
    color: #f9f9f9;
    font-weight: 300;
    font-size: 12px;
}